// Size scaling
/* This should make 1rem === 10px (instead of 16 - since 16 * .625 = 10).  Thus 1.6rem === 16px
 * This will be applied to the to the font-size in the html tag inside _base.scss */
$global-size-scaler: 62.5%;

// Colors
$light-gray: #F7F7F7;
$gray: #666666;
$dark-gray: #333333;
$blue: #1C88BF;
$dark-blue: #364051;

// Font sizes
$font-sz-lg: 1.8rem;
$font-sz-sm: 1.4rem;

// Spacing
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Breakpoints
$desktop-breakpoint: 1024px;
$s-screen-breakpoint: 600px;
$xs-screen-breakpoint: 400px;
$xxs-screen-breakpoint: 300px;

// Sizes
// Img sizes
$l-thumbnail: 8rem;
$s-thumbnail: 4rem;


:export {
    desktop: $desktop-breakpoint;
    s_screen: $s-screen-breakpoint;
    xs_screen: $xs-screen-breakpoint;
    xxs_screen: $xxs-screen-breakpoint;
}